
<div class="product">
	<div class="product-title">安联臻爱医疗保险</div>

	<div class="banner_bottom" />

	<div class="product-detail">
		<div class="banner_border_2_top" style="width: 100%;">
			<div class="banner_border_2_top_left">
				<div class="banner_border_2_top_left_ico">
					<img src="./images/age.png" alt="" height="100%">
				</div>
				<div class="banner_border_2_top_left_con">年龄:　30天-60周岁</div>
			</div>
			<div class="banner_border_2_top_right" style="width: 50%;">
				<div class="banner_border_2_top_left_ico" style="margin-left: 0;">
					<img src="./images/zhiye.png" alt="" height="100%">
				</div>
				<div class="banner_border_2_top_left_con">承保职业:  1-4类</div>
			</div>
		</div>	
		<div class="banner_border_2_top" style="width: 100%;">
			<div class="banner_border_2_top_left">
				<div class="banner_border_2_top_left_ico">
					<img src="./images/time.png" alt="" height="100%">
				</div>
				<div class="banner_border_2_top_left_con">保障期限:　1年</div>
			</div>
			<div class="banner_border_2_top_right" style="width: 50%;">
				<div class="banner_border_2_top_left_ico" style="margin-left: 0;">
					<img src="./images/count.png" alt="" height="100%">
				</div>
				<div class="banner_border_2_top_left_con">限购份数:  1份</div>
			</div>
		</div>

		<div class="banner_bottom-content"><div class="banner_bottom"></div></div>

		<div class="banner_border_new">百万医疗保险，保额最高600万！</div>

		<div class="banner">
			<div class="main_list_new">
				<div class="main_list_new_left">
					<img src="./images/point.png" class="main_list_new_left_img">
					保障计划：
				</div>
				<div class="main_list_new_right">
					<select id="ensurePlan">
						<option value="1">标准计划</option>
						<option value="2">升级计划</option>
						<option value="3">尊贵计划</option>
					</select>
					<img src="./images/111_03.png" class="main_list_new_right_img">
				</div>
			</div>

			<div class="banner_bottom-content"><div class="banner_bottom"></div></div>

			<div class="main_list_new">
				<div class="main_list_new_left">
					<img src="./images/point.png" class="main_list_new_left_img">
					有无社保：
				</div>
				<div class="main_list_new_right">
					<select id="hasSocialSecurity">
						<option value="has">有社保</option>
						<option value="no">无社保</option>
					</select>
					<img src="./images/111_03.png" class="main_list_new_right_img">
				</div>
			</div>

			<div class="banner_bottom-content"><div class="banner_bottom"></div></div>

			<div class="main_list_new">
				<div class="main_list_new_left">
					<img src="./images/point.png" class="main_list_new_left_img">
					保障年龄：
				</div>
				<div class="main_list_new_right">
					<select id="ensureAge">
						<option value="{minAge:16,maxAge:20,minday:null}">16周岁-20周岁</option>
						<option value="{minAge:null,maxAge:5,minday:30}">30天-5周岁</option>				    
						<option value="{minAge:6,maxAge:10,minday:null}">6周岁-10周岁</option>
						<option value="{minAge:11,maxAge:15,minday:null}">11周岁-15周岁</option>
						<option value="{minAge:21,maxAge:25,minday:null}">21周岁-25周岁</option>
						<option value="{minAge:26,maxAge:30,minday:null}">26周岁-30周岁</option>
						<option value="{minAge:31,maxAge:35,minday:null}">31周岁-35周岁</option>
						<option value="{minAge:36,maxAge:40,minday:null}">36周岁-40周岁</option>
						<option value="{minAge:41,maxAge:45,minday:null}">41周岁-45周岁</option>
						<option value="{minAge:46,maxAge:2500,minday:null}">46周岁-50周岁</option>
						<option value="{minAge:51,maxAge:55,minday:null}">51周岁-55周岁</option>
					</select>
					<img src="./images/111_03.png" class="main_list_new_right_img">
				</div>
			</div>
		</div>

		<div class="banner_duty-warp">
			<div class="banner_duty_title">
				<div class="main_list_new_left">保障责任：</div>
				<div class="duty_title_right">标准计划<img src="./images/111_03.png" class="main_list_new_right_img"></div>
			</div>
			<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
			<div class="banner_duty_list">
				<div class="banner_duty_item">
					<div class="duty_item_left">医疗范围</div>
					<div class="duty_item_right">中国大陆境内，二级及二级以上医院(不含特需及外宾病房)</div>
				</div>
				<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
				<div class="banner_duty_item">
					<div class="duty_item_left">意外身故及伤残</div>
					<div class="duty_item_right" id="duty_num_1">10万</div>
				</div>
				<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
				<div class="banner_duty_item">
					<div class="duty_item_left">一般医疗保险金(不限社保;包含住院医疗费用和特殊门诊医疗费用)</div>
					<div class="duty_item_right" id="duty_num_2">100万</div>
				</div>
				<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
				<div class="banner_duty_item">
					<div class="duty_item_left">恶性肿瘤医疗保险金(不限社保;包含恶性肿瘤住院医疗费用和恶性肿瘤特殊门诊费用费用)</div>
					<div class="duty_item_right" id="duty_num_3">100万</div>
				</div>
				<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
				<div class="banner_duty_item">
					<div class="duty_item_left">一般医疗保险金及恶性肿瘤医疗保险全年免赔额</div>
					<div class="duty_item_right">1万</div>
				</div>
			</div>
		</div>

		<div class="productfeature"><img src="./images/productfeature.jpg"></div>

		<div class="product-text">
			<div class="product-text-nav">
				<div class="product-text-item puoduct-text-item-select" id="product-text-1">投保须知</div>
				<div class="product-text-item" id="product-text-2">条款资料</div>
				<div class="product-text-item" id="product-text-3">理赔流程</div>
				<div class="product-text-item" id="product-text-4">常见问题</div>
			</div>
			<div class="product-text-content"></div>
		</div>

		<div id="product-policyholder" class="product-list-title">投保人信息</div>
		<div class="product-policyholder-detail">
			<div class="detail-item">
				<div class="detail-item-text">起保时间:</div>
				<input class="detail-item-input" value="付款次日零时" readonly="readonly"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">姓名:</div>
				<input class="detail-item-input" placeholder="请输入您的姓名"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">手机:</div>
				<input class="detail-item-input" placeholder="请输入您的手机号"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">邮箱:</div>
				<input class="detail-item-input" placeholder="Mailbox"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">身份证:</div>
				<input class="detail-item-input" placeholder="请输入您的证件号码"/>
			</div>
		</div>


		<div id="product-policyholdered" class="product-list-title">被保人信息</div>
		<div class="product-policyholder-detail">
			<div class="detail-item">
				<div class="detail-item-text">与投保人关系:</div>
				<select class="detail-item-input">
					<option>请选择</option>
					<option>本人</option>
					<option>父亲</option>
					<option>母亲</option>
					<option>妻子</option>
					<option>丈夫</option>
					<option>儿子</option>
					<option>女儿</option>
				</select>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">姓名:</div>
				<input class="detail-item-input" placeholder="请输入姓名"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">身份证:</div>
				<input class="detail-item-input" placeholder="请输入证件号码"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">手机:</div>
				<input class="detail-item-input" placeholder="请输入手机号"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">一级职业:</div>
				<select class="detail-item-input">
					<option>请选择</option>
				<!-- 	<option>本人</option>
					<option>父亲</option>
					<option>母亲</option>
					<option>妻子</option>
					<option>丈夫</option>
					<option>儿子</option>
					<option>女儿</option> -->
				</select>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">二级职业:</div>
				<select class="detail-item-input">
					<option>请选择</option>
				<!-- 	<option>本人</option>
					<option>父亲</option>
					<option>母亲</option>
					<option>妻子</option>
					<option>丈夫</option>
					<option>儿子</option>
					<option>女儿</option> -->
				</select>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">三级职业:</div>
				<select class="detail-item-input">
					<option>请选择</option>
			<!-- 		<option>本人</option>
					<option>父亲</option>
					<option>母亲</option>
					<option>妻子</option>
					<option>丈夫</option>
					<option>儿子</option>
					<option>女儿</option> -->
				</select>
			</div>
			
		</div>
		<div class="product-list-title"> 健康告知 </div>
		<div class="product-list-health-tell">
			<div class="product-list-health-tell-item">
				<div class="product-list-health-tell-content">
					1、被保险人最近1年内是否进行任何健康咨询、药物治疗、外科手术，但不包括普通感冒、流感或敏感症；或是否在最近1年内考虑寻求诊疗、检查、测试、住院治疗或外科手术；
				</div>
				<div class="product-list-health-tell-selcet">
					<input type="radio" name="health-tell-1" value="yes">是
					<input type="radio" name="health-tell-1" value="no" checked>否
				</div>
			</div>
			<div class="product-list-health-tell-item">
				<div class="product-list-health-tell-content">
					2、被保险人最近5年中，在申请如人寿保险、意外伤害保险，重大疾病保险、其它医疗健康保险等任何保险计划时，是否曾被延迟、被拒保、被撤销或被附加任何特别条件（如增加保险费或特别免责条款）；
				</div>
				<div class="product-list-health-tell-selcet">
					<input type="radio" name="health-tell-2" value="yes">是
					<input type="radio" name="health-tell-2" value="no" checked>否
				</div>
			</div>
			<div class="product-list-health-tell-item">
				<div class="product-list-health-tell-content">
					3、被保险人是否曾经或正患有如下任一疾病、是否曾经或正出现如下任一体征、是否曾经或正出现如下任一检查异常或是否曾经或正接受如下任一治疗（相关定义以世界卫生组织颁布的《疾病和有关健康问题的国际统计分类（ICD-10）》为准）： (1)冠心病、心绞痛、心肌梗塞、心脏瓣膜疾病、各种原因导致的心脏衰竭、先天性心脏缺陷、冠状动脉介入手术或搭桥手术、动脉瘤或血管畸形、血友病、血液凝固障碍、脑卒中； (2)痴呆、癫痫、多发性硬化、帕金森病、阿尔茨海默病或任何影响脑部或神经系统的失常； (3)肝脏疾病或症状（如肝炎病毒携带者、肝硬化、肝功能衰竭等）、胃旁路手术、溃疡性结肠炎、胰腺炎； (4)代谢综合症、各种类型糖尿病、高血压、肾上腺皮质功能不全、肢端肥大症； (5)恶性肿瘤、白血病、淋巴瘤、良性肿瘤且未手术、不明性质的肿块/息肉/结节/新生物； (6)精神病、各种类型的抑郁症、自闭症、厌食症或暴食症、试图自杀； (7)耳疾（如耳聋等）、眼疾（如青光眼、白内障、视网膜出血或剥离等）、鼻部疾病或咽喉疾病（不包括普通感染）； (8)肢体瘫痪（包括截瘫、偏瘫或全瘫）、类风湿性关节炎、强直性脊柱炎、肌营养不良、股骨头坏死、人工关节置换等其他与骨骼、脊椎骨或肌肉相关的疾病或症状； (9) 肾小球（肾盂）疾病、肾病综合症、慢性肾功能衰竭、肾透析、多囊肾； (10) 肺气肿、慢性阻塞性肺病、肺纤维化、间质性肺病、哮喘； (11) 各种器官移植，如心、肺、肝、肾、胰脏、造血干细胞移植等；
				</div>
				<div class="product-list-health-tell-selcet">
					<input type="radio" name="health-tell-3" value="yes">是
					<input type="radio" name="health-tell-3" value="no" checked>否
				</div>
			</div>
			<div class="product-list-health-tell-item">
				<div class="product-list-health-tell-content">
					4、被保险人最近2年中，是否做过以下任意一项检查，且任意一项检查结果有异常：X光、B超、彩超、CT、核磁共振、内窥镜、病理活检、眼底检查、血液检查；
				</div>
				<div class="product-list-health-tell-selcet">
					<input type="radio" name="health-tell-4" value="yes">是
					<input type="radio" name="health-tell-4" value="no" checked>否
				</div>
			</div>
			<div class="product-list-health-tell-item">
				<div class="product-list-health-tell-content">
					5、被保险人最近1年中，是否因病连续住院5天及以上，或病假累计15天及以上；
				</div>
				<div class="product-list-health-tell-selcet">
					<input type="radio" name="health-tell-5" value="yes">是
					<input type="radio" name="health-tell-5" value="no" checked>否
				</div>
			</div>
			<div class="product-list-health-tell-item">
				<div class="product-list-health-tell-content">
					6、被保险人最近1年，是否有任何不适症状，如持续发热、眩晕、胸痛、咳血、便血、紫斑、体重下降或上升超过5公斤；
				</div>
				<div class="product-list-health-tell-selcet">
					<input type="radio" name="health-tell-6" value="yes">是
					<input type="radio" name="health-tell-6" value="no" checked>否
				</div>
			</div>
			<div class="product-list-health-tell-item">
				<div class="product-list-health-tell-content">
					7、被保险人是否：艾滋病毒感染史、酗酒史、滥用药物史（酗酒是指每周饮酒单位大于等于50，每一个饮酒单位含12g酒精，相当于1杯（300ml）啤酒或者半杯（150ml）葡萄酒或者45ml白酒）；
				</div>
				<div class="product-list-health-tell-selcet">
					<input type="radio" name="health-tell-7" value="yes">是
					<input type="radio" name="health-tell-7" value="no" checked>否
				</div>
			</div>
			<div class="product-list-health-tell-item">
				<div class="product-list-health-tell-content">
					8、2周岁以下被保险人出生时体重是否低于2.5公斤，是否早产、窒息、发育迟缓、脑瘫。
				</div>
				<div class="product-list-health-tell-selcet">
					<input type="radio" name="health-tell-8" value="yes">是
					<input type="radio" name="health-tell-8" value="no" checked>否
				</div>
			</div>
		</div>

		<div class="product-list-title" id="to-buy"> 确定购买 </div>
	</div>
	<!-- <div class="product-list-title"> 健康告知 </div> -->


	<div class="product-footer">
		<div class="product-price">价格：xxx元</div>
		<div class="product-buy">购买</div>
	</div>

</div>