
<div class="product">
	<div class="product-title">安联臻爱医疗保险</div>

	<div class="banner_bottom" />

	<div class="product-detail">
		<div class="banner_border_2_top" style="width: 100%;">
			<div class="banner_border_2_top_left">
				<div class="banner_border_2_top_left_ico">
					<img src="./images/age.png" alt="" height="100%">
				</div>
				<div class="banner_border_2_top_left_con">年龄:　30天-60周岁</div>
			</div>
			<div class="banner_border_2_top_right" style="width: 50%;">
				<div class="banner_border_2_top_left_ico" style="margin-left: 0;">
					<img src="./images/zhiye.png" alt="" height="100%">
				</div>
				<div class="banner_border_2_top_left_con">承保职业:  1-4类</div>
			</div>
		</div>	
		<div class="banner_border_2_top" style="width: 100%;">
			<div class="banner_border_2_top_left">
				<div class="banner_border_2_top_left_ico">
					<img src="./images/time.png" alt="" height="100%">
				</div>
				<div class="banner_border_2_top_left_con">保障期限:　1年</div>
			</div>
			<div class="banner_border_2_top_right" style="width: 50%;">
				<div class="banner_border_2_top_left_ico" style="margin-left: 0;">
					<img src="./images/count.png" alt="" height="100%">
				</div>
				<div class="banner_border_2_top_left_con">限购份数:  1份</div>
			</div>
		</div>

		<div class="banner_bottom-content"><div class="banner_bottom"></div></div>

		<div class="banner_border_new">百万医疗保险，保额最高600万！</div>

		<div class="banner">
			<div class="main_list_new">
				<div class="main_list_new_left">
					<img src="./images/point.png" class="main_list_new_left_img">
					保障计划：
				</div>
				<div class="main_list_new_right">
					<select id="ensurePlan">
						<option value="1">标准计划</option>
						<option value="2">升级计划</option>
						<option value="3">尊贵计划</option>
					</select>
					<img src="./images/111_03.png" class="main_list_new_right_img">
				</div>
			</div>

			<div class="banner_bottom-content"><div class="banner_bottom"></div></div>

			<div class="main_list_new">
				<div class="main_list_new_left">
					<img src="./images/point.png" class="main_list_new_left_img">
					有无社保：
				</div>
				<div class="main_list_new_right">
					<select id="hasSocialSecurity">
						<option value="has">有社保</option>
						<option value="no">无社保</option>
					</select>
					<img src="./images/111_03.png" class="main_list_new_right_img">
				</div>
			</div>

			<div class="banner_bottom-content"><div class="banner_bottom"></div></div>

			<div class="main_list_new">
				<div class="main_list_new_left">
					<img src="./images/point.png" class="main_list_new_left_img">
					保障年龄：
				</div>
				<div class="main_list_new_right">
					<select id="ensureAge">
						<option value="{minAge:16,maxAge:20,minday:null}">16周岁-20周岁</option>
						<option value="{minAge:null,maxAge:5,minday:30}">30天-5周岁</option>				    
						<option value="{minAge:6,maxAge:10,minday:null}">6周岁-10周岁</option>
						<option value="{minAge:11,maxAge:15,minday:null}">11周岁-15周岁</option>
						<option value="{minAge:21,maxAge:25,minday:null}">21周岁-25周岁</option>
						<option value="{minAge:26,maxAge:30,minday:null}">26周岁-30周岁</option>
						<option value="{minAge:31,maxAge:35,minday:null}">31周岁-35周岁</option>
						<option value="{minAge:36,maxAge:40,minday:null}">36周岁-40周岁</option>
						<option value="{minAge:41,maxAge:45,minday:null}">41周岁-45周岁</option>
						<option value="{minAge:46,maxAge:2500,minday:null}">46周岁-50周岁</option>
						<option value="{minAge:51,maxAge:55,minday:null}">51周岁-55周岁</option>
					</select>
					<img src="./images/111_03.png" class="main_list_new_right_img">
				</div>
			</div>
		</div>

		<div class="banner_duty-warp">
			<div class="banner_duty_title">
				<div class="main_list_new_left">保障责任：</div>
				<div class="duty_title_right">标准计划<img src="./images/111_03.png" class="main_list_new_right_img"></div>
			</div>
			<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
			<div class="banner_duty_list">
				<div class="banner_duty_item">
					<div class="duty_item_left">医疗范围</div>
					<div class="duty_item_right">中国大陆境内，二级及二级以上医院(不含特需及外宾病房)</div>
				</div>
				<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
				<div class="banner_duty_item">
					<div class="duty_item_left">意外身故及伤残</div>
					<div class="duty_item_right" id="duty_num_1">10万</div>
				</div>
				<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
				<div class="banner_duty_item">
					<div class="duty_item_left">一般医疗保险金(不限社保;包含住院医疗费用和特殊门诊医疗费用)</div>
					<div class="duty_item_right" id="duty_num_2">100万</div>
				</div>
				<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
				<div class="banner_duty_item">
					<div class="duty_item_left">恶性肿瘤医疗保险金(不限社保;包含恶性肿瘤住院医疗费用和恶性肿瘤特殊门诊费用费用)</div>
					<div class="duty_item_right" id="duty_num_3">100万</div>
				</div>
				<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
				<div class="banner_duty_item">
					<div class="duty_item_left">一般医疗保险金及恶性肿瘤医疗保险全年免赔额</div>
					<div class="duty_item_right">1万</div>
				</div>
			</div>
		</div>

		<div class="productfeature"><img src="./images/productfeature.jpg"></div>

		<div class="product-text">
			<div class="product-text-nav">
				<div class="product-text-item puoduct-text-item-select" id="product-text-1">投保须知</div>
				<div class="product-text-item" id="product-text-2">条款资料</div>
				<div class="product-text-item" id="product-text-3">理赔流程</div>
				<div class="product-text-item" id="product-text-4">常见问题</div>
			</div>
			<div class="product-text-content"></div>
		</div>

		<div id="product-policyholder">投保人信息</div>
		<div class="product-policyholder-detail">
			<div class="detail-item">
				<div class="detail-item-text">起保时间:</div>
				<input class="detail-item-input" value="付款次日零时" readonly="readonly"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">姓名:</div>
				<input class="detail-item-input" placeholder="请输入您的姓名"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">手机:</div>
				<input class="detail-item-input" placeholder="请输入您的手机号"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">邮箱:</div>
				<input class="detail-item-input" placeholder="Mailbox"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">身份证:</div>
				<input class="detail-item-input" placeholder="请输入您的证件号码"/>
			</div>
		</div>


		<div id="product-policyholdered" class="product-policyholder">被保人信息</div>
		<div class="product-policyholder-detail">
			<div class="detail-item">
				<div class="detail-item-text">与投保人关系:</div>
				<select class="detail-item-input">
					<option>请选择</option>
					<option>本人</option>
					<option>父亲</option>
					<option>母亲</option>
					<option>妻子</option>
					<option>丈夫</option>
					<option>儿子</option>
					<option>女儿</option>
				</select>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">姓名:</div>
				<input class="detail-item-input" placeholder="请输入姓名"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">身份证:</div>
				<input class="detail-item-input" placeholder="请输入证件号码"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">手机:</div>
				<input class="detail-item-input" placeholder="请输入手机号"/>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">一级职业:</div>
				<select class="detail-item-input">
					<option>请选择</option>
				<!-- 	<option>本人</option>
					<option>父亲</option>
					<option>母亲</option>
					<option>妻子</option>
					<option>丈夫</option>
					<option>儿子</option>
					<option>女儿</option> -->
				</select>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">二级职业:</div>
				<select class="detail-item-input">
					<option>请选择</option>
				<!-- 	<option>本人</option>
					<option>父亲</option>
					<option>母亲</option>
					<option>妻子</option>
					<option>丈夫</option>
					<option>儿子</option>
					<option>女儿</option> -->
				</select>
			</div>
			<div class="detail-item">
				<div class="detail-item-text">三级职业:</div>
				<select class="detail-item-input">
					<option>请选择</option>
			<!-- 		<option>本人</option>
					<option>父亲</option>
					<option>母亲</option>
					<option>妻子</option>
					<option>丈夫</option>
					<option>儿子</option>
					<option>女儿</option> -->
				</select>
			</div>
			
		</div>

	</div>



	<div class="product-footer">
		<div class="product-price">价格：xxx元</div>
		<div class="product-buy">购买</div>
	</div>

</div>