<div class="product-title"><div class="go-back">返回</div>订单详情</div>
<div class="product-detail">
	<div class="order-item order-detaill-item" data-codeId="kdjkjd">
		<div class="order-code">
			<div class="order-code-num">订单号：201703151194359924</div>
			<div class="order-code-status">未支付</div>
		</div>
		<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
		<div class="order-code">
			<div class="order-code-num">时间：2017-03-15 14:48:06</div>
		</div>
		<div class="banner_bottom-content"><div class="banner_bottom"></div></div>
		<div class="order-content">
			<div class="order-content-item-left">安联臻爱医疗保险</div>
			<div class="order-content-item-right order-logo"></div>
			<div class="order-content-item-left order-money">保费: 206.00</div>
			<div class="order-content-item-left order-from">推广费：32.96</div>
		</div>
	</div>
	<div class="order-msg">投保人信息</div>
	<div class="order-msg-content">
		<div>姓名:刘标</div>
		<div>手机号:17681088190</div>
		<div>邮箱:1073859102@qq.com</div>
		<div>身份证号码:341225199210038532</div>
		<div>出生日期: 1992-10-03</div>
		<div>年龄:24</div>
		<div>性别:男</div>
	</div>
	<div class="order-msg">被保人信息</div>
	<div class="order-msg-content">
		<div>被保人是投保人的:本人</div>
		<div>姓名:刘标</div>
		<div>手机号:17681088190</div>
		<div>身份证号码:341225199210038532</div>
		<div>出生日期: 1992-10-03</div>
		<div>年龄:24</div>
		<div>性别:男</div>
		<div>一级职业:一般</div>
		<div>二级职业:机关团体公司行号</div>
		<div>三级职业:外勤人员(从事+联系工作)</div>
	</div>
	<div class="order-msg">投保计划</div>
	<div class="order-msg-content">
		<div>计划:标准计划</div>
		<div>保障期限:1年</div>
		<div>生效日期:付款次日零时</div>
		<div>终止日期：2018-03-15</div>
	</div>
</div>