#order{
	background-color:#f5f5f5;
}
.order-item{
    width: 96%;
    background: #fff;
    margin-top: 16px;
}
.order-code{
	font-size: 2.6em;
    height: 70px;
}
.order-code-num{
	float: left;
    height: 100%;
    line-height: 70px;
    margin-left: 3%;
    color: #333;
}
.order-code-status{
	float: right;
    margin-right: 3%;
    height: 100%;
    line-height: 70px;
    color: #e82727;
}
.order-time{
	
}
.order-time-num{
	
}
.order-from{
	color: #fdc701;
}
.order-content{
	font-size: 2.8em;
	color: #333;
	background: #fff;
    width: 100%;
    height: 210px;
    padding: 0 3%;
    line-height: 70px;
}
.order-content-item-left{
	float: left;
	width: 60%;
	height:70px;
}
.order-content-item-right{
	float: left;
	width: 40%;
	height: 70px;
}
.order-money{
	color: #e82727;
}
.order-logo{
	background: url(../images/productlog.png);
    background-size: 100% 100%;
    height: 50px;
    margin-top: 10px;
    width: 30%;
}